body
  font-family monospace
  margin 0
  #timer
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    #time
      font-size 10vw
      text-align center
    #scramble
      font-size 2vw
      text-align center
  #times
    position absolute
    width 90%
    height 90%
    top 50%
    left 50%
    transform translate(-50%,-50%)
