doctype html
html
  head
    meta(charset='utf8')
    link(rel='stylesheet' href='index.css')
  body
    #times
      h1 Stats
      pre#s
      p TIMES
      pre#t(contenteditable=true)

    script.
      require('./times.js')
